
// Global
$font-main: 'Roboto', sans-serif;
$font-color-black: rgb(32, 32, 32);
$font-color-white: white;
$link-color: #4848cd;

// Dekstop
$desktop-bg: hsl(228, 8%, 25%);

// Links
$links-panel-width: 350px;
$links-panel-bg: hsl(222, 10%, 19%);
$link-hover: hsl(230, 19%, 30%);

// Favorites
$bookmarks-panel-width: 350px;
$bookmark-icon-size: 25px;
$bookmarks-panel-bg: hsl(222, 9%, 22%);