
@import 'styles/Main.scss';

$screen-width: 1200px;
$black: #4c4d4d;
$bg-white: #f8f8f8;


body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: $black;
	background: $bg-white;
	div{
		box-sizing: border-box;
	}
	h1,h2,h3,h4,h5,h6,label,a{
		margin: 0;
		padding: 0;
	}
	.noselect {
		-webkit-touch-callout: none; 	/* iOS Safari */
		-webkit-user-select: none; 		/* Chrome/Safari/Opera */
		-khtml-user-select: none; 		/* Konqueror */
		-moz-user-select: none; 		/* Firefox */
		-ms-user-select: none; 			/* Internet Explorer/Edge */
		user-select: none; 				/* Non-prefixed version, currently not supported by any browser */
		cursor: default;
	}
}
