.bookmarks-panel {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 350px;
  width: 350px;
  padding: 10px 0;
  background: #33363d;
  position: relative; }
  .bookmarks-panel .add-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer; }
    .bookmarks-panel .add-button:hover {
      transform: scale(1.2);
      color: white; }
  .bookmarks-panel .list {
    width: 100%; }
  .bookmarks-panel .bookmark {
    cursor: pointer;
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    display: flex;
    align-items: center; }
    .bookmarks-panel .bookmark img {
      width: 16px;
      height: 16px;
      margin-right: 10px; }
    .bookmarks-panel .bookmark .title {
      font-size: 14px; }
    .bookmarks-panel .bookmark .fa {
      font-size: 14px;
      visibility: hidden;
      margin-left: auto;
      color: #cccccc; }
      .bookmarks-panel .bookmark .fa:hover {
        transform: scale(1.3);
        color: white; }
    .bookmarks-panel .bookmark.drag-mode {
      cursor: move; }
      .bookmarks-panel .bookmark.drag-mode * {
        cursor: move !important; }
    .bookmarks-panel .bookmark.dragging {
      display: none; }
    .bookmarks-panel .bookmark:hover {
      background: rgba(255, 255, 255, 0.1); }
      .bookmarks-panel .bookmark:hover .fa {
        visibility: visible; }

.link-drag-preview {
  position: absolute;
  border: solid 1px white;
  background: #434751;
  opacity: 0.5; }

.bookmark-drop-spot {
  display: flex;
  border: dotted 1px rgba(255, 255, 255, 0.8);
  background: #202227;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8); }

.bookmark-detail {
  position: absolute;
  bottom: 70px;
  left: 20px;
  width: calc(350px - 40px);
  background: rgba(255, 255, 255, 0.2);
  padding: 15px; }
  .bookmark-detail .line {
    margin-bottom: 15px;
    height: 20px;
    display: flex; }
    .bookmark-detail .line .label {
      width: 50px;
      font-size: 14px; }
    .bookmark-detail .line input {
      display: inline-block;
      flex: 1;
      outline: none;
      border: none;
      padding: 5px; }
    .bookmark-detail .line button {
      margin-left: 15px;
      background: white;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold; }
    .bookmark-detail .line:last-child {
      margin-bottom: 0;
      justify-content: flex-end; }
