
@import 'styles/variables.scss';

.links-panel {
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;

	&:hover {
		overflow-y: auto;
	}
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-thumb {
		background: lighten($desktop-bg, 50%);
		border-radius: 3px;
	}
	&::-webkit-scrollbar-track {
		background: lighten($desktop-bg, 20%);
		border-radius: 3px;
	}
}

.link {
	cursor: pointer;
	position: relative;
	padding: 15px;
	font-size: 12px;

	&.drag-mode {
		cursor: move;
		& * {
			cursor: move !important;
		}
	}
	&.dragging {
		display: none;
	}

	&:hover {
		background: $link-hover;
		.fa {
			visibility: visible;
		}
	}
	.fa {
		font-size: 14px;
		visibility: hidden;
		position: absolute;
		top: 5px;
		right: 5px;
		color: #cccccc;
		&:hover {
			transform: scale(1.3);
			color: white;
		}
	}
	.no-wrap {
		display: inline-block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		width: 100%;
	}
	.title {
		margin-bottom: 5px;
		color: $font-color-white;
		font-size: 13px;
		color: #ddd;
	}
	.url {
		color: #74a5e9;
		overflow: hidden;
	}
}
