
@import 'styles/variables.scss';

.links-panel {
	position: relative;

	width: $links-panel-width;
	background: $links-panel-bg;

	overflow-y: auto;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-thumb {
		background: lighten($links-panel-bg, 50%);
		border-radius: 3px;
	}
	&::-webkit-scrollbar-track {
		background: lighten($links-panel-bg, 20%);
		border-radius: 3px;
	}

	.link {
		position: relative;
		cursor: pointer;
		padding: 15px;
		font-size: 12px;

		&.drag-mode {
			cursor: move;
			& * {
				cursor: move !important;
			}
		}
		&.dragging {
			display: none;
		}

		&:hover {
			background: lighten($links-panel-bg, 5%);
			.fa {
				visibility: visible;
			}
		}
		.fa {
			visibility: hidden;
			position: absolute;
			top: 5px;
			right: 5px;
			color: #cccccc;
		}
		.title {
			display: flex;
			margin-bottom: 5px;
			background: transparent;
			border: none;
			outline: none;
			color: $font-color-white;
			width: 100%;
			font-size: 13px;
    		text-overflow: ellipsis;
			&:focus {
				background: lighten($links-panel-bg, 20%);
			}
		}
		.url {
			display: flex;
			color: #88abdb;
			overflow: hidden;
		}
	}

	.link-drag-preview {
		position: absolute;
		border: solid 1px white;
		background: lighten($links-panel-bg, 10%);
		opacity: 0.5;
	}

	.link-drop-spot {
		display: flex;
		border: dotted 1px rgba(255, 255, 255, 0.8);
		background: darken($links-panel-bg, 5%);
		justify-content: center;
		align-items: center;
		font-size: 14px;
		color: rgba(255, 255, 255, 0.8);
	}
}


