.links-panel {
  position: relative;
  width: 350px;
  background: #434751;
  overflow-y: hidden;
  overflow-x: hidden; }
  .links-panel:hover {
    overflow-y: auto; }
  .links-panel::-webkit-scrollbar {
    width: 5px; }
  .links-panel::-webkit-scrollbar-thumb {
    background: #c4c7cf;
    border-radius: 3px; }
  .links-panel::-webkit-scrollbar-track {
    background: #707889;
    border-radius: 3px; }
  .links-panel .link {
    position: relative;
    cursor: pointer;
    padding: 15px;
    font-size: 12px; }
    .links-panel .link.drag-mode {
      cursor: move; }
      .links-panel .link.drag-mode * {
        cursor: move !important; }
    .links-panel .link.dragging {
      display: none; }
    .links-panel .link:hover {
      background: #4e535f; }
      .links-panel .link:hover .fa {
        visibility: visible; }
    .links-panel .link .fa {
      visibility: hidden;
      position: absolute;
      top: 5px;
      right: 5px;
      color: #cccccc; }
    .links-panel .link .title {
      display: flex;
      margin-bottom: 5px;
      background: transparent;
      border: none;
      outline: none;
      color: white;
      width: 100%;
      font-size: 13px;
      text-overflow: ellipsis; }
      .links-panel .link .title:focus {
        background: #707889; }
    .links-panel .link .url {
      display: flex;
      color: #88abdb;
      overflow: hidden; }
  .links-panel .link-drag-preview {
    position: absolute;
    border: solid 1px white;
    background: #5a5f6d;
    opacity: 0.5; }
  .links-panel .link-drop-spot {
    display: flex;
    border: dotted 1px rgba(255, 255, 255, 0.8);
    background: #373b43;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8); }
