
$black: rgb(30, 30, 30);

.desktop {
    width: 100vw;
    height: 100vh;
    padding: 0;

    color: white;

    display: flex;
    flex-direction: row;
}

.bookmarks-bar {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    min-width: 140px;
    width: 140px;
    padding: 10px;
    background: hsl(222, 10%, 19%);

    .bookmark-icon {
        padding: 10px;
        cursor: pointer;
        .bg {
            display: flex;
            justify-content: center;
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.workspace {
    $bg-color: hsl(214, 26%, 40%);

    position: relative;
    display: flex;
    width: 100%;
    background: $bg-color;

    .clock {
        display: flex;
        position: absolute;
        bottom: 50px;
        right: 70px;
        & > * {
            display: block;
            color: white;
            text-align: right;
        }
        .time {
            $size: 100px;

            font-family: 'Heebo';
            font-weight: 100;
            font-size: $size;
            height: $size;
            line-height: $size;
        }
        .date {
            width: 100px;
            padding-top: 5px;
            font-weight: 300;
            font-size: 22px;
        }
    }

    .add-note-button {
        position: absolute;
        top: 20px;
        right: 20px;

        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: transparent;
        border: solid 2px white;
        align-items: center;
        cursor: pointer;
        .fa {
            color: white;
            font-size: 18px;
            width: 100%;
            text-align: center;
        }
        &:hover {
            background-color: white;
            .fa {color: $bg-color;}
        }
    }


}

.notes-controller {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.note {
    position: absolute;
    top: 20px;
    left: 20px;

    &.dragging {
        display: none;
    }

    &:hover {
        .header {
            visibility: visible;
        }
    }

    .header {
        visibility: hidden;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 24px;
        background: rgb(74, 74, 74);
        cursor: pointer;
        .fa {
            position: absolute;
            top: 3px;
            right: 5px;
            color: rgb(236, 236, 168);
        }
    }
    .text-area {
        font-family: 'Roboto';
        width: 200px;
        height: 200px;
        background-color: rgb(236, 236, 168);
        color: $black;
        border: none;
        outline: none;
        margin: 0px;
        padding: 10px;
        padding-top: 30px;

        font-size: 14px;
        line-height: 18px;
    }
}
