
.desktop {
    width: 100vw;
    height: 100vh;
    padding: 0;

    color: white;

    display: flex;
    flex-direction: row;
}

.bookmarks-bar {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    min-width: 200px;
    width: 200px;
    padding: 20px;
    background: hsl(222, 10%, 19%);

    .bookmark-icon {
        padding: 10px;
        cursor: pointer;
        .bg {
            display: flex;
            justify-content: center;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.workspace {
    display: flex;
    width: 100%;
    padding: 20px;
    background: hsl(214, 26%, 40%);
}

.clock {
    display: flex;
    width: 400px;
    position: absolute;
    bottom: 70px;
    right: 100px;

    & > * {
        display: block;
        color: white;
        text-align: right;
    }

    .time {
        font-family: 'Heebo';
        font-weight: 100;
        font-size: 120px;
        height: 120px;
        line-height: 120px;
    }

    .date {
        font-weight: 300;
        font-size: 25px;
    }
}
