
@import 'styles/variables.scss';

.notes-panel, .react-contextmenu-wrapper, .notes-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.notes-container {
    position: relative;
}

.note {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    border: solid 2px $note-border-color;

    &.drag-mode {
        cursor: move;
        & * {
            cursor: move !important;
        }
    }
    &.dragging {
        display: none;
    }

    &:hover {
        .fa {
            visibility: visible;
        }
    }

    .fa {
        cursor: pointer;
        visibility: hidden;
        position: absolute;
        top: 4px;
        right: 5px;
        color: $note-close-button-color;
    }

    .text-area, .text-preview {
        font-family: 'Roboto';
        background-color: $note-color;
        color: #1e1e1e;
        border: none;
        outline: none;
        margin: 0px;
        padding: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        &::-webkit-scrollbar {
            width: 12px;
        }
        &::-webkit-scrollbar-thumb {
            background: rgb(253, 253, 247);
            border-radius: 6px;
        }
        &::-webkit-scrollbar-track {
            background: $note-color;
            border-radius: 3px;
        }
    }
    .text-preview {
        white-space: pre-wrap;
        word-wrap: break-word;
        resize: both;
        overflow: auto;
    }
}

.note-drag-preview {
    width: 100%;
    height: 100%;
    border: solid 2px $note-border-color;
    background: #f4f4a1;
    opacity: 0.5;
}

.menu-item {
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer !important;
    font-size: 13px;
    .fa-plus {margin-right: 5px;}
    &:hover {
        color: $note-color;
    }
}
