

.workspace {
    $bg-color: hsl(214, 26%, 40%);

    position: relative;
    display: flex;
    width: 100%;
    background: $bg-color;
}

.clock {
    display: flex;
    position: absolute;
    bottom: 50px;
    right: 70px;
    & > * {
        display: block;
        color: white;
        text-align: right;
    }
    .time {
        $size: 100px;

        font-family: 'Heebo';
        font-weight: 100;
        font-size: $size;
        height: $size;
        line-height: $size;
    }
    .date {
        width: 100px;
        padding-top: 5px;
        font-weight: 300;
        font-size: 22px;
    }
}
